{% extends "base.html" %}

{% block main %}
<h1 class="page-header">INFO3180 Project 1</h1>
{% include 'flash_messages.html' %}
<div class="image-container">
    {% for property in properties %}
    <div>
        <img src="{{ url_for('get_image', filename=property.filename) }}" alt="RAND" width="300" height="250">
        <p>{{property.title}}</p>
        <p>{{property.location}}</p>
        <p>{{property.price}}</p>
        <button type="submit" name="submit" class="btn btn-primary">View Property</button>
    </div>

    {% endfor %}
</div>
{% endblock %}
